footer {
  text-align: center;
  .jumbotron-fluid {
    text-align: center;
  }
  .fab {
    font-size: 30px;
    padding: 5px;
    margin: 5px;
    color: orange;
  }
  a:hover {
    text-decoration: none;
  }
}
